.dollarIcon >svg {
    fill: #79D70F;
    width: 50px;
    height: auto;
}
.cartIcon >svg {
    fill: #79D70F;
    width: 50px;
    height: auto;

    
}
.dollarIcon1 >svg {
    fill: #79D70F;
    width: 50px;
    height: auto;
}